.review{
	border: 2px solid rgb(241, 241, 241);
	/* width: 300px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 20px 10px;
	border-radius: 10px;
}

.review p{
	margin: 0;
	padding: 5px;
	text-align: justify;
}