.header{
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header a{
	margin-left: 20px;
	text-decoration:none;
	font-size: 20px;
	font-weight: 500;
	border-radius: 4px;
	padding: 5px 10px;
	color: black;
	transition: all 0.2s ease-in-out;
}
.header a:hover{
	background-color: rgb(5, 134, 255);
	color: white;

}